/*------------------Variables de uso general------------------*/

 :root {
    --first-color: #ffeded;
    --first-alpha-color: #b4e9ff;
    --second-color: #3578ff;
    --second-alpha-color: #bbcfff;
    --third-color: #f3cbff;
    --third-alpha-color: #38ff3b;
}

li img {
    width: 2rem;
    transition: all 500ms;
}


/*------------------Reseteo de componentes------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------Estilos de página------------------*/

button {
    transition: all 500ms;
    font-size: 0.9rem;
}

button:hover {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.229);
    font-size: 1rem;
}


/*header*/

header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    transition: all 500ms;
}

.header-sup {
    width: 100%;
    height: 1.5rem;
    background: rgb(96, 147, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

nav {
    width: 95%;
    height: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms;
}

nav .review-page {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    transition: all 500ms;
}

.review-page .review-header svg {
    width: 0.8rem;
    fill: rgb(255, 212, 41);
}

.logo {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0.5rem;
    color: rgb(0, 145, 255);
    transition: 500ms;
}

.logo:hover {
    background: #f5f5f5;
}

.logo .icon svg {
    width: 2rem;
    fill: rgb(0, 145, 255);
    margin: 0 0.5rem;
}

nav menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 500ms;
}

menu .icon-menu {
    width: 0rem;
    height: 0rem;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

menu .icon-shop {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

menu .icon-shop:hover {
    background: #f2f2f2;
}

.icon-shop svg {
    width: 1.5rem;
}

nav menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

menu ul li {
    margin: 0 1.5rem;
}

menu ul li:hover {
    color: #42d0ff;
    transition: 500ms;
}


/*container*/

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}


/*hero*/

.hero {
    width: 100%;
    height: 80vh;
    background: url(../img/hero.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 500ms;
}

.hero:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffff76;
}


/*Imagen izquierda del hero*/

.hero .img-hero {
    width: 40%;
    height: 90%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 500ms;
}

.img-hero .certificado-productos {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-hero .certificado-productos .certificado {
    width: 6rem;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.img-hero .certificado-productos .certificado img {
    width: 4rem;
}

.img-hero .certificado-productos .certificado:hover {
    background: #ffffff;
}

.img-hero .img-producto {
    width: 78%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-hero .img-producto img {
    width: 80%;
    margin: 2px;
}


/*Info del hero Seccion derecha*/

.hero .info-hero {
    width: 45%;
    height: 90%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.description-info_hero h2 {
    font-size: 2.3em;
}

.description-info_hero ul {
    margin: 1.4rem;
}

.description-info_hero ul li {
    font-size: 1.2em;
}

.description-info_hero button {
    width: 20rem;
    height: 2.3rem;
    border-radius: 1.5rem;
    background: rgb(8, 212, 11);
    border: none;
    color: white;
    margin: 0 2rem;
    transform: all 400ms;
}

.description-info_hero .options-pago {
    border-radius: 0.5rem;
    border: none;
    color: white;
    width: 70%;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}

.options-pago svg {
    width: 2.3rem;
}

.options-pago svg:hover {
    fill: rgb(0, 145, 255);
}

.info-hero .biografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: block;
    align-items: center;
    margin: 1.3rem;
    width: 80%;
}

.info-hero .biografia .profile-user {
    width: 80%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.profile-user .img-profile_user {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    background: url(../img/profile.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.profile-user .info-profile_user {
    width: 75%;
}

.review-info_profile_user svg {
    width: 1.2rem;
    fill: yellow;
}


/*seccion marca de productos*/

.content .marca-productos {
    width: 100%;
    height: 5rem;
    background: rgb(223, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 7rem;
}

.marca {
    width: 10rem;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
}

.marca svg {
    width: 3.5rem;
    fill: rgb(167, 167, 168);
    transition: all 500ms;
}

.marca:hover {
    background: #f2f2f2;
}

.marca:hover svg {
    fill: rgb(27, 129, 255);
}


/*seccion categoria productos*/

.categoria-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem;
}

.categoria-productos .title-categoria_productos {
    width: 70%;
    font-size: 1.5rem;
    color: rgb(61, 126, 223);
    text-align: center;
}

.container-categoria_productos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transform: all 500ms;
}

.card-categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-categoria:hover {
    background: #f2f2f2;
}

.icon-categoria svg {
    width: 5rem;
    fill: rgb(16, 92, 206);
}

.name-categoria {
    font-size: 1.3em;
}

.categoria-productos button {
    width: 16rem;
    height: 2.3rem;
    border-radius: 1.5rem;
    border: none;
    background: rgb(1, 204, 1);
    color: white;
}


/*seccion info productos*/

.info-productos {
    width: 100%;
    height: 50vh;
    background: url(/img/inso-1.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.info-productos:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: #446dffb7;
}

.title-info_productos {
    z-index: 2;
    color: white;
    width: 50%;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.descripcion-info_productos {
    z-index: 2;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    padding: 0 5rem;
}

.description {
    width: 40%;
}

.info-productos button {
    z-index: 2;
    background: rgb(1, 204, 1);
    border-radius: 1.5rem;
    border: none;
    width: 16rem;
    height: 2.3rem;
    color: white;
}


/*seccion carrusel productos*/

.carrusel-productos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.info-carrusel {
    width: 60%;
    font-size: 2rem;
}

.button-carrusel .btn {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: skyblue;
    font-size: 1.5rem;
    position: absolute;
}

.button-info_carrusel_producto {
    width: 100%;
    height: 4rem;
}

.carrusel-productos button {
    z-index: 2;
    background: rgb(1, 204, 1);
    border-radius: 1.5rem;
    border: none;
    width: 16rem;
    height: 2.3rem;
    color: white;
}


/*seccion garantia*/

.garantia-productos {
    width: 100%;
    height: 33vh;
    background: rgb(31, 31, 116);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2rem;
}

.logo-garantia_productos .icon svg {
    width: 5rem;
    fill: white;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.info-garantia_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 40%;
}

.info-garantia_productos h4 {
    font-size: 1.8rem;
    margin: 0.8rem;
}

.info-garantia_productos p {
    font-size: 1rem;
    margin: 0.8rem;
}


/*seccion beneficios*/

.beneficios-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}

.title-beneficios_productos {
    width: 70%;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

.cards-beneficios_productos {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}

.card-beneficios {
    width: 20rem;
    height: 19rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: all 500ms;
}

.card-beneficios:hover {
    background: #f2f2f2f2;
}

.info-card_beneficios h4 {
    font-size: 1.8rem;
}

.card-beneficios .icon {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: rgb(73, 28, 170);
    text-align: center;
    color: white;
    font-size: 4rem;
}

.beneficios-productos button {
    z-index: 2;
    background: rgb(1, 204, 1);
    border-radius: 1.8rem;
    border: none;
    width: 15rem;
    height: 2.3rem;
    color: white;
    margin: 0.5rem;
}


/*seccion carrusel clientes*/

.carrusel-clientes {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    position: relative;
    background: #0c52b3;
    color: white;
}

.carrusel-clientes .title-carrusel_clientes {
    width: 80%;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
}

.carrusel-clientes button {
    z-index: 2;
    background: rgb(1, 204, 1);
    border-radius: 1.5rem;
    border: none;
    width: 16rem;
    height: 2.3rem;
    color: white;
}

.clientes {
    width: 100%;
    height: 1.5rem;
    background: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.clientes .btn {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    background: white;
    font-size: 0.5rem;
    margin: 0 1rem;
}

.clientes .btn:hover {
    width: 0.8rem;
    height: 0.8rem;
    background: rgb(42, 117, 255);
}


/*seccion certificados*/

.info-certificados-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}

.title-info_certificados_productos {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    color: rgb(0, 108, 250);
}

.section-certificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.certificado {
    width: 18rem;
    height: 15rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 500ms;
    margin: 1rem;
}

.certificado:hover {
    background: #f2f2f2;
}

.certificado .icon svg {
    width: 5rem;
}

.info-certificados-productos button {
    z-index: 2;
    background: rgb(1, 204, 1);
    border-radius: 1.5rem;
    border: none;
    width: 18rem;
    height: 3rem;
    color: white;
}


/*seccion preguntas*/


/*seccion promociones*/

.promocion-productos {
    width: 100vw;
    background: rgb(23, 23, 95);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.8rem;
}

.title-promocion_productos {
    width: 70%;
    height: 5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.cards-promocion_productos {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.card-promocion {
    width: 26rem;
    height: 36rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: white;
    position: relative;
    margin: 1.5rem;
}

.card-promocion .nombre-producto {
    font-size: 2rem;
}

.img-producto {
    width: 90%;
    height: 19rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-producto img {
    width: 60%;
}

.card-promocion button {
    z-index: 2;
    background: rgb(1, 204, 1);
    border-radius: 1.5rem;
    border: none;
    width: 18rem;
    height: 2.5rem;
    color: white;
}

.info-producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}

.precio-producto {
    font-size: 1.5rem;
}

.formas-pago {
    border-radius: 0.5rem;
    border: none;
    color: white;
    width: 100%;
    height: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
}

.formas-pago svg {
    width: 2rem;
}

.second-promocion {
    border: 0.5rem solid rgb(255, 116, 23);
}

.cat-prom {
    position: absolute;
    background: rgb(255, 116, 23);
    top: -1.5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.third-promocion {
    border: 0.5rem solid rgb(23, 193, 255);
    box-sizing: border-box;
}

.third-promocion .cat-prom {
    position: absolute;
    background: rgb(23, 193, 255);
    top: -1.5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}


/*footer*/

footer {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #ffffff;
}

footer .info-empresa {
    width: 28rem;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

footer .info-empresa ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

footer .info-empresa ul li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
}


/*------------------Componentes------------------*/


/*Carrusel*/

.cards-carrusel_productos {
    width: 65%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container-carrusel_productos {
    height: 100%;
    display: flex;
    padding: 1rem;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    position: relative;
    transition: all 600ms;
    transform: translateX(33.5%);
}


/*.container-carrusel_productos:hover {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    position: relative;
    transition: all 400ms;
    transform: translateX(0%);
}*/

.card-producto {
    width: 30vw;
    height: 56vh;
    border-radius: 1.2rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 0.8rem;
    border: 0.2rem solid #cfcfcf;
}

.carrusel-producto_next {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    position: relative;
    transition: all 400ms;
    transform: translateX(0%);
}

.carrusel-producto_back {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    position: relative;
    transition: all 400ms;
    transform: translateX(33.5%);
}

.card-producto img {
    width: 60%;
}

.next,
.back {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: skyblue;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
    transition: all 450ms;
}

.back {
    top: 45%;
    left: 18%;
}

.back:hover,
.next:hover {
    background: rgb(0, 152, 240);
}

.next {
    top: 45%;
    right: 18%;
    z-index: 1;
}

.next:hover .container-carrusel_productos {
    transform: translateX(-33%);
}


/*Carrusel clientes*/

.cards-carrusel_clientes {
    width: 65%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container-carrusel_clientes {
    width: 125vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    position: relative;
    transform: translateX(25%);
    transition: all 800ms;
}

.container-carrusel_clientes:hover {
    transform: translateX(-25%)
}

.card-clientes {
    width: 25vw;
    height: 20rem;
    border-radius: 0.8rem;
    background: white;
    margin: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0.5rem;
}

.card-clientes .profile-cliente {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: url(../img/cliente.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*Acordeon*/

.acordeon-preguntas {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
}

.title-questions {
    width: 60%;
    height: 2rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 0.8rem;
}

.container-question {
    width: 60%;
    border-radius: 0.5rem;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem;
    transition: all 500ms;
    padding: 0.8rem;
}

.question {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    transition: all 500ms;
    border-radius: 0.5rem;
}

.question .icon {
    background: #f2f2f2;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

.question .icon svg {
    width: 1.2rem;
}

.answer {
    background: yellowgreen;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    height: 0;
    overflow: hidden;
}

.container-question.activo .answer {
    background: yellowgreen;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 1rem;
    height: 100%;
}

.activo {
    width: 60%;
    height: 15rem;
    border-radius: 0.5rem;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}


/*Acordeon
        .answer {   .question .icon:hover {
                        background: #f2f2f2;
                    }      .container-question:hover .answer {
                        padding: 1rem;
                        margin: 0.5rem;
                        background: #f2f2f2;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-around;
                        overflow: visible;
                        height: 100%;
                    } 
                    background: yellowgreen;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    overflow: hidden;
                }
      .answer {
        background: red;
    }


    .active-container {
        width: 60%;
        height: 15rem;
        border-radius: 0.5rem;
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }


*/


/* -------------------RESPONSIVE-----------------*/

@media(max-width:1200px) {
    /*HEADER*/
    header {
        background: #ffffff;
        transition: all 500ms;
    }
    menu .icon-menu {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: visible;
        transition: all 500ms;
    }
    .ico-menu:hover {
        background: #f2f2f2;
    }
    .icon-menu svg {
        width: 1.2rem;
    }
    menu ul {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    /*HERO*/
    /*Imagen izquierda del hero*/
    .hero .img-hero {
        width: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
    }
    /*Info del hero Seccion derecha*/
    .hero .info-hero {
        width: 60%;
        height: 90%;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }
    .description-info_hero h2 {
        font-size: 2em;
    }
    .description-info_hero ul {
        margin: 1.2rem;
    }
    .description-info_hero ul li {
        font-size: 1em;
    }
    .description-info_hero button {
        width: 22rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        background: rgb(8, 212, 11);
        border: none;
        color: white;
        margin: 0 2rem;
        transform: all 400ms;
    }
    .description-info_hero .options-pago {
        border-radius: 0.5rem;
        border: none;
        color: white;
        width: 70%;
        height: 2.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 2rem;
    }
    .options-pago svg {
        width: 2rem;
    }
    .options-pago svg:hover {
        fill: rgb(0, 145, 255);
    }
    .info-hero .biografia {
        display: flex;
        flex-wrap: wrap;
        justify-content: block;
        align-items: center;
        margin: 1.5rem;
        width: 80%;
    }
    .info-hero .biografia .profile-user {
        width: 80%;
        height: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .profile-user .img-profile_user {
        width: 4rem;
        height: 4rem;
        background: white;
        border-radius: 100%;
    }
    .profile-user .info-profile_user {
        width: 75%;
    }
    .review-info_profile_user svg {
        width: 1.2rem;
        fill: yellow;
    }
    /*Seccion marca*/
    .content .marca-productos {
        width: 100%;
        height: 10vh;
        background: rgb(223, 223, 223);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 4rem;
    }
    .marca {
        width: 7rem;
        height: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .marca svg {
        width: 3rem;
        fill: rgb(167, 167, 168);
        transition: all 500ms;
    }
    /*Seccion categoria productos*/
    .categoria-productos .title-categoria_productos {
        width: 80%;
        font-size: 1.3rem;
    }
    .container-categoria_productos {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        transform: all 500ms;
    }
    .card-categoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
        margin: 1rem;
    }
    /*seccion info productos*/
    .info-productos {
        width: 100%;
        background: url(/img/inso-1.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .info-productos:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        background: #446dffb7;
    }
    .title-info_productos {
        z-index: 2;
        color: white;
        width: 90%;
        height: 4rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .descripcion-info_productos {
        z-index: 2;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        padding: 0 5rem;
    }
    .description {
        width: 45%;
        height: 100%;
        margin: 0.5rem;
    }
    .info-productos button {
        z-index: 2;
        background: rgb(1, 204, 1);
        border-radius: 1.5rem;
        border: none;
        width: 16rem;
        height: 2.5rem;
        color: white;
    }
    /*Carrusel*/
    .cards-carrusel_productos {
        width: 70%;
        height: 65vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .container-carrusel_productos {
        width: 200vw;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        align-items: center;
        position: relative;
        transition: all 600ms;
        transform: translateX(33.5%);
        border-radius: 0.5rem;
    }
    .container-carrusel_productos:hover {
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        align-items: center;
        position: relative;
        transition: all 400ms;
        transform: translateX(0%);
    }
    .card-producto {
        width: 40vw;
        height: 60vh;
        border-radius: 1.2rem;
        margin: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 0.8rem;
        border: 0.2rem solid #cfcfcf;
    }
    .card-producto img {
        width: 60%;
    }
    .next,
    .back {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background: skyblue;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        color: white;
        transition: all 450ms;
        font-size: 1rem;
    }
    .back {
        top: 45%;
        left: 18%;
    }
    .back:hover,
    .next:hover {
        background: rgb(0, 152, 240);
    }
    .next {
        top: 45%;
        right: 20%;
        z-index: 1;
    }
    .next:hover .container-carrusel_productos {
        transform: translateX(-33%);
    }
    /*Seccion garantia productos*/
    .garantia-productos {
        width: 100%;
        height: 33vh;
        background: rgb(31, 31, 116);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        padding: 1rem;
    }
    .logo-garantia_productos .icon svg {
        width: 4rem;
        fill: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    .info-garantia_productos {
        width: 60%;
        margin: 1.5rem;
    }
    .info-garantia_productos h4 {
        font-size: 1.8rem;
        margin: 0.8rem;
    }
    .acordeon-preguntas {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 0.5rem;
    }
    .title-questions {
        width: 60%;
        height: 2rem;
        font-size: 1.8rem;
        text-align: center;
        margin: 0.8rem;
        background: green;
    }
    .container-question {
        width: 80%;
        border-radius: 0.5rem;
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0.8rem;
        transition: all 500ms;
        padding: 0.8rem;
    }
    .question {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        transition: all 500ms;
        background: pink;
        border-radius: 0.5rem;
    }
    .question .icon {
        background: #f2f2f2;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 500ms;
    }
    .question .icon svg {
        width: 1.2rem;
    }
    .question .icon:hover {
        background: #f2f2f2;
    }
    .answer {
        background: yellowgreen;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0rem;
        height: 0;
        overflow: hidden;
    }
    .container-question:hover .answer {
        padding: 1rem;
        margin: 0.5rem;
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        overflow: visible;
        height: 100%;
    }
    .container-question.activo .answer {
        background: yellowgreen;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem;
        padding: 1rem;
        height: 100%;
    }
    /*seccion promociones*/
    .promocion-productos {
        width: 100%;
        background: rgb(23, 23, 95);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0.8rem;
    }
    .title-promocion_productos {
        width: 70%;
        height: 4rem;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin: 0 0 1rem 0;
    }
    .cards-promocion_productos {
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: 0.8rem;
    }
    .card-promocion {
        width: 20rem;
        height: 30rem;
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background: white;
        position: relative;
    }
    .card-promocion .nombre-producto {
        margin: 1.5rem 0 0 0;
        font-size: 1.5rem;
    }
    .img-producto {
        width: 90%;
        height: 19rem;
    }
    .img-producto img {
        width: 80%;
    }
    .card-promocion button {
        z-index: 2;
        background: rgb(1, 204, 1);
        border-radius: 1.5rem;
        border: none;
        width: 15rem;
        height: 2rem;
        color: white;
    }
    .info-producto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 5rem;
    }
    .precio-producto {
        font-size: 0.9rem;
    }
    .formas-pago {
        border-radius: 0.5rem;
        border: none;
        color: white;
        width: 100%;
        height: 2.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 3rem;
    }
    .formas-pago svg {
        width: 1.5rem;
    }
    .second-promocion {
        border: 0.5rem solid rgb(255, 116, 23);
    }
    .cat-prom {
        position: absolute;
        background: rgb(255, 116, 23);
        top: -1.5rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .third-promocion {
        border: 0.5rem solid rgb(23, 193, 255);
        box-sizing: border-box;
    }
    .third-promocion .cat-prom {
        position: absolute;
        background: rgb(23, 193, 255);
        top: -1.5rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .cards-carrusel_clientes {
        width: 95%;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .container-carrusel_clientes {
        width: 125vw;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        align-items: center;
        position: relative;
        transform: translateX(25%);
        transition: all 800ms;
        background: white;
    }
    .container-carrusel_clientes:hover {
        transform: translateX(-25%)
    }
    .card-clientes {
        width: 30rem;
        height: 20rem;
        border-radius: 0.8rem;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 0.5rem;
    }
}


/*-------------------------*/

@media(max-width:800px) {
    /*HEADER*/
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .header-sup {
        width: 100%;
    }
    .review-page {
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
    }
    /*Seccion marca*/
    .marca {
        width: 4rem;
        height: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .marca svg {
        width: 2.5rem;
        fill: rgb(167, 167, 168);
        transition: all 500ms;
    }
    /*Seccion categoria productos*/
    .categoria-productos .title-categoria_productos {
        width: 100%;
        font-size: 1rem;
    }
    .container-categoria_productos {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        transform: all 500ms;
    }
    .card-categoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        border-radius: 0.5rem;
        margin: 1.5rem;
        padding: 0.5rem;
    }
    .icon-categoria svg {
        width: 4rem;
        fill: rgb(16, 92, 206);
    }
    .name-categoria {
        font-size: 1.2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*seccion info productos*/
    .info-productos {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        background: url(/img/inso-1.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .info-productos:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        background: #446dffb7;
    }
    .title-info_productos {
        z-index: 2;
        color: white;
        width: 90%;
        height: 3rem;
        font-size: 1.2rem;
        text-align: center;
    }
    .descripcion-info_productos {
        z-index: 2;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 100%;
    }
    .description {
        width: 85%;
        height: auto;
        margin: 0.5rem;
    }
    .info-productos button {
        z-index: 2;
        background: rgb(1, 204, 1);
        border-radius: 1.5rem;
        border: none;
        width: 12rem;
        height: 2rem;
        color: white;
    }
    /*Carrusel*/
    .cards-carrusel_productos {
        width: 70%;
        height: 65vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .container-carrusel_productos {
        width: 200vw;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        align-items: center;
        position: relative;
        transition: all 600ms;
        transform: translateX(33.5%);
        border-radius: 0.5rem;
    }
    .container-carrusel_productos:hover {
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        align-items: center;
        position: relative;
        transition: all 400ms;
        transform: translateX(0%);
    }
    .card-producto {
        width: 40vw;
        height: 60vh;
        border-radius: 1.2rem;
        margin: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 0.8rem;
        border: 0.2rem solid #cfcfcf;
    }
    .card-producto img {
        width: 60%;
    }
    .next,
    .back {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background: skyblue;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        color: white;
        transition: all 450ms;
        font-size: 1rem;
    }
    .back {
        top: 45%;
        left: 18%;
    }
    .back:hover,
    .next:hover {
        background: rgb(0, 152, 240);
    }
    .next {
        top: 45%;
        right: 20%;
        z-index: 1;
    }
    .next:hover .container-carrusel_productos {
        transform: translateX(-33%);
    }
    /*Seccion garantia productos*/
    .garantia-productos {
        width: 100%;
        background: rgb(31, 31, 116);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        padding: 1rem;
    }
    .logo-garantia_productos .icon svg {
        width: 4rem;
        fill: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    .info-garantia_productos {
        width: 60%;
        margin: 1.5rem;
    }
    .info-garantia_productos h4 {
        font-size: 1.8rem;
        margin: 0.8rem;
    }
    .acordeon-preguntas {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 0.5rem;
    }
    .title-questions {
        width: 80%;
        height: 2rem;
        font-size: 1.8rem;
        text-align: center;
        margin: 0.8rem;
        background: green;
    }
    .container-question {
        width: 100%;
        border-radius: 0.5rem;
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0.8rem;
        transition: all 500ms;
        padding: 0.8rem;
    }
    .question {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        transition: all 500ms;
        background: pink;
        border-radius: 0.5rem;
    }
    .question .icon {
        background: #f2f2f2;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 500ms;
    }
    .question .icon svg {
        width: 1.2rem;
    }
    .question .icon:hover {
        background: #f2f2f2;
    }
    .answer {
        background: yellowgreen;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0rem;
        height: 0;
        overflow: hidden;
    }
    .container-question:hover .answer {
        padding: 1rem;
        margin: 0.5rem;
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        overflow: visible;
        height: 100%;
    }
    .container-question.activo .answer {
        background: yellowgreen;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem;
        padding: 1rem;
        height: 100%;
    }
    /*seccion promociones*/
    .promocion-productos {
        width: 100%;
        background: rgb(23, 23, 95);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0.8rem;
    }
    .title-promocion_productos {
        width: 70%;
        height: 4rem;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin: 0 0 1rem 0;
    }
    .cards-promocion_productos {
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: 0.8rem;
    }
    .card-promocion {
        width: 20rem;
        height: 30rem;
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background: white;
        position: relative;
    }
    .card-promocion .nombre-producto {
        margin: 1.5rem 0 0 0;
        font-size: 1.5rem;
    }
    .img-producto {
        width: 90%;
        height: 19rem;
    }
    .img-producto img {
        width: 80%;
    }
    .card-promocion button {
        z-index: 2;
        background: rgb(1, 204, 1);
        border-radius: 1.5rem;
        border: none;
        width: 15rem;
        height: 2rem;
        color: white;
    }
    .info-producto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 5rem;
    }
    .precio-producto {
        font-size: 0.9rem;
    }
    .formas-pago {
        border-radius: 0.5rem;
        border: none;
        color: white;
        width: 100%;
        height: 2.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 3rem;
    }
    .formas-pago svg {
        width: 1.5rem;
    }
    .second-promocion {
        border: 0.5rem solid rgb(255, 116, 23);
    }
    .cat-prom {
        position: absolute;
        background: rgb(255, 116, 23);
        top: -1.5rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .third-promocion {
        border: 0.5rem solid rgb(23, 193, 255);
        box-sizing: border-box;
    }
    .third-promocion .cat-prom {
        position: absolute;
        background: rgb(23, 193, 255);
        top: -1.5rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    @media(max-width:680px) {}
}